<!DOCTYPE html>
<html>
<head>
  <title>DSS for HSD</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <style>
    #banner{
      height:360 px;
      width: 100%;
      object-fit: cover;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1 class="text-center mt-4 mb-4">Moderator page for social media website</h1>
    <img class="img-fluid" id="banner" src="https://repository-images.githubusercontent.com/477334673/26ac8f43-a636-4e82-8241-f8199e0f8bfb">
    <p>List of banned users due to detecting innapropriate activity despite multiple warnings:</p>
    <p>
      <div class="col-10">Display list of banned users here(from database)
        <div class="col-2">
          <button type="button" class="btn btn-primary">Unban</button>
        </div><br>
        <div class="col-2">
          <a class="btn btn-primary" href="/home">Back to Home</a>
        </div>
      </div>
    </p>
    </p>
  </div>
</body>
</html>